<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <title>{{headTitle title}}</title>
    <meta name="theme-color" content="#008080"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{headTitle title}}" />
    <meta property="og:title" content="{{headTitle title}}" />
    <meta property="og:description" content="{{headTitle title}}" />
    {{#if meta}}
        {{#each meta}}
            <meta {{name}}="{{prop}}" content="{{value}}" />
        {{/each}}
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>